@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Oswald:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: oswald ;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: oswald;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);

}

.container{
    max-width: 800px;
    background: #fff;
    align-items: center;
    justify-content: center;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container.text{
    text-align: center;
    font-size: 41px;
}
